* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.width {
  margin: 1em;
  border: 1px solid #d3d3d3;
  width: 90%;
}

.title {
  margin: 0;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
}

.clear {
  background: #d3d3d3;
  width: 100%;
  padding: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  width: 100%;
  display: flex;
  gap: 1em;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 1em;
  position: relative;
}

li > * {
  padding: 10px;
}

.btn-remove {
  position: absolute;
  right: 0;
}

.reload {
  padding: 0.5em;
}

.desc {
  padding: 1.5em;
  width: 100%;
  border: none;
  background: #dcdcdc;
}

.content {
  cursor: text;
}
