* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191970;
  background-blend-mode: color-dodge;
  background-image: url(./assets/brick-wall.png);
  background-size: cover;
}

.width {
  background: #997e03;
  margin: 1em;
  border: 1px solid #d3d3d3;
  width: 500px;
  min-width: 375px;
  border-radius: 10px;
}

.title {
  margin: 0;
  text-shadow: 0 0 5px #fff;
  color: #fff;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
}

.clear {
  width: 100%;
  border-right: none;
  border-left: none;
  cursor: pointer;
  padding: 15px;
  color: white;
  font-family: 'Rubik Moonrocks', sans-serif;
  font-size: 1.5em;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(153, 126, 3, 1) 100%);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  width: 100%;
  display: flex;
  gap: 1em;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 1em;
  position: relative;
}

li > * {
  padding: 10px;
}

.btn-remove {
  position: absolute;
  right: 0;
}

.reload {
  padding: 0.5em;
}

.desc {
  padding: 1.5em;
  width: 100%;
  border: none;
  background: #dcdcdc;
  border-right: none;
  border-left: none;
}

.content {
  cursor: text;
  font-size: 1.5rem;
  color: #fff;
}

input[type='checkbox']:checked + .text {
  text-decoration: line-through;
}
